/problema1/JavaApplication12/nbproject/private/
/problema1/JavaApplication12/build/
/problema4/JavaApplication13/nbproject/private/
/problema4/JavaApplication13/build/
/problema2/Problema2/nbproject/private/
/problema2/Problema2/build/
/problema3/problema3/nbproject/private/
/problema3/problema3/build/
